.container {
  margin: 0px 20px;
}

.cart-items table {
  width: 90%;
  border-collapse: collapse;
  margin: 20px auto;
}

.cart-items table th {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

.cart-items table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

.cart-items table th {
  background-color: #f5f5f5;
}

.cart-items table td input.quantity {
  width: 50px;
  text-align: center;
}

.cart-total {
  text-align: right;
  font-size: 1.2em;
  margin-bottom: 20px;
  margin-right: 20%;
}

.delete_food {
  width: 90px;
  height: 30px;
  border-radius: 10px;
  background-color: #ff6b3e;
  cursor: pointer;
  color: white;
  transition: 0.3s ease-in;
}

.delete_food:hover {
  background-color: #ffd181;
  transform: scale(1.05);
  color: black;
  transition: 0.1s ease-in-out;
}

.delete_food:active {
  transform: scale(0.95);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}

.confirn_food {
  margin: 5px;
  width: 90px;
  height: 30px;
  border-radius: 10px;
  background-color: #92ff5f;
  cursor: pointer;
  color: black;
  transition: 0.3s ease-in;
}

.confirn_food:hover {
  background-color: #019c1b;
  transform: scale(1.05);
  color: white;
  transition: 0.1s ease-in-out;
}

.confirn_food:active {
  transform: scale(0.95);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}
.checkout {
  text-align: center;
}

.checkout-btn {
  padding: 10px 20px;
  background-color: #f8a853;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s ease-in-out;
}

.checkout-btn:hover {
  background-color: #ffd181;
  color: black;
  transform: scale(1.1);
  transition: 0.1s ease-in;
}

.checkout-btn:active {
  transform: scale(0.95);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}

.quantity-input {
  width: 50px;
  padding: 0;
  text-align: center;
  border: 1px solid #ccc; /* Viền mặc định */
  border-radius: 10px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.quantity-input:focus {
  border-color: #f8a853; /* Màu viền khi được chọn (focus) */
  box-shadow: 0 0 8px rgba(248, 168, 83, 0.5); /* Hiệu ứng ánh sáng bao quanh */
  outline: none; /* Loại bỏ outline mặc định */
}

.quantity-input::-webkit-inner-spin-button,
.quantity-input::-webkit-outer-spin-button {
  margin: 0;
  -webkit-appearance: none;
}
