.container {
  margin: 0px 20px;
}

.cart-items table {
  width: 90%;
  border-collapse: collapse;
  margin: 20px auto;
}

.cart-items table th {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

.cart-items table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

.cart-items table th {
  background-color: #f5f5f5;
}

.cart-items table td input.quantity {
  width: 50px;
  text-align: center;
}

.cart-total {
  text-align: right;
  font-size: 1.2em;
  margin-bottom: 20px;
  margin-right: 20%;
}

.checkout {
  text-align: center;
}

.checkout-btn {
  padding: 10px 20px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.checkout-btn:hover {
  background-color: #218838;
}
