header {
  background-color: #f8a853;
  position: fixed;
  height: 100px;
  width: 100%;
  border: 1px;
}
h2 {
  font-family: "Sofia", sans-serif;
}
.name_web {
  height: 50px;
  width: 50px;
  margin: 10px;
}
.search-bar {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
}

.search-bar input {
  padding: 10px;
  border: none;
  border-radius: 4px;
  margin-right: 5px;
}

.search-bar button {
  padding: 10px;
  background-color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

footer {
  background-color: #f8a853;
}

.info {
  width: 80%;
  margin: 0 auto;
  table-layout: fixed;
}
.info th {
  height: 30px;
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
}
.info td {
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
