.header {
    width: 100%;
    background-color: #f8a853; 
    padding: 20px 0;
    box-sizing: border-box;
    color: #111010; 
    position: fixed;
    top: 0; /* Đặt header cố định ở trên cùng */
    z-index: 1000; /* Đảm bảo header nằm trên cùng */
}

/* Flexbox cho phần header-top để căn các khối */
.header-top {
    display: flex;
    justify-content: center; 
    align-items: center;
    padding: 0 20px;
}

/* Phần bên trái của header */
.left-header {
    display: flex;
    align-items: center;
}

/* Định dạng tên nhà hàng */
.name_web {
    font-family: "Sofia", sans-serif;
    text-align: left;
}

.name_web h2 {
    font-family: "Sofia", sans-serif;
    margin: 0;
    color: #fff;
    font-size: 24px;
}

/* Phần tiêu đề ở giữa */
.center-header {
    flex-grow: 1; 
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: black;
}
