* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column; /* Sắp xếp theo chiều dọc */
}

header {
  z-index: 10;
  background-color: #f8a853;
  position: fixed;
  height: 120px;
  width: 100%;
  border: 1px;
}
h2 {
  font-family: "Sofia", sans-serif;
}
.name_web {
  height: 50px;
  width: 50px;
  margin: 10px;
}
.contact {
  position: absolute;
  top: 5px;
  left: 150px;
  height: 30px;
  width: 110px;
}
.contact a {
  margin: 3px;
  float: left;
}
.contact img {
  height: 20px;
  width: 20px;
}
.search-bar {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
}

.search-bar input {
  padding: 10px;
  border: none;
  border-radius: 4px;
  margin-right: 5px;
}

.search-bar button {
  padding: 10px;
  background-color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.users {
  position: absolute;
  top: 7px;
  right: 5px;
}

.users-info {
  display: flex;
  align-items: center;
}

.users-info img {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: white;
}

.user-name {
  cursor: pointer;
  margin-left: 5px;
}

.setting-user {
  display: block;
  opacity: 0; /* ẩn ban đầu */
  transition: opacity 0.5s ease; /* thời gian chuyển tiếp */
  position: absolute;
  right: 0;
  top: 20px;
  background-color: white;
  min-width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.user-name:hover ~ .setting-user,
.users-info:hover .setting-user {
  opacity: 1; /* hiện ra khi hover */
  pointer-events: auto; /* tương tác khi hiển thị */
}
.user-name:active ~ .setting-user,
.users-info:active .setting-user {
  opacity: 1;
  pointer-events: auto;
}
.setting-user a {
  color: black;
  padding: 9px 12px;
  text-decoration: none;
  display: block;
}

.setting-user a:hover {
  background-color: #f1f1f1;
}

footer {
  background-color: #f8a853;
}

.info {
  width: 80%;
  margin: 0 auto;
  table-layout: fixed;
}
.info th {
  height: 30px;
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
}
.info td {
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.navbar {
  padding: 5px;
  background-color: #f8a853;
  border: #f8a853;
  display: flex;
  align-items: center;
  width: 80%;
  position: absolute;
  top: 80px;
  left: 10%;
  width: 80%;
}

.navbar ul {
  list-style-type: none;
  display: flex; /* Hiển thị danh sách nằm ngang */
  flex-grow: 1; /* Chiếm hết không gian còn lại */
  justify-content: space-around; /* Cách đều các mục */
}

.navbar ul li {
  flex-grow: 1; /* Mỗi mục sẽ chiếm không gian đều */
  text-align: center;
}

.navbar ul li a {
  color: white; /* Màu chữ */
  text-decoration: none; /* Bỏ gạch chân */
  padding: 5px;
  display: block; /* Đảm bảo toàn bộ khối có thể nhấn được */
  border-radius: 4px;
}

.navbar ul li a:hover {
  background-color: #ff9100; /* Màu nền khi hover */
}

@media only screen and (max-width: 620px) {
  .search-bar {
    left: 37%;
    width: 20%;
  }
}
