html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column; /* Sắp xếp theo chiều dọc */
}

main {
  flex: 1; /* Chiếm hết không gian còn lại */
  margin-top: 120px;
  padding-top: 20px;
  margin-left: 200px;
}

@media (max-width: 800px) {
  main {
    margin-left: 100px;
  }
}
