.menu {
  flex: 1;
  display: flex;
  flex-wrap: wrap; /* Các div.food sẽ tự động xuống hàng khi màn hình hẹp */
  justify-content: space-around; /* Đảm bảo khoảng cách đều giữa các món ăn */
  padding: 10px;
  min-height: 100vh;
  box-sizing: border-box;
  overflow: hidden;
}

/* Định dạng cho từng món ăn (food item) */

.food {
  height: 360px;
  width: 310px;
  border: 1px solid black;
  text-align: center;
  float: left;
  margin: 5px;
  list-style-type: none;
  border-radius: 10px;
  margin-bottom: 20px;
  transition: transform 0.3s ease-in-out; /* Hiệu ứng khi hover cả div */
}

/* Hiệu ứng khi hover vào .food */
.food:hover {
  transform: scale(1.05); /* Phóng to toàn bộ food item khi hover */
}

/* Hình ảnh trong .food */
.food img {
  padding-top: 10px;
  padding-bottom: 20px;
  height: 170px;
  width: 200px;
  border-radius: 15px; /* Bo tròn các góc của hình ảnh */
  transition: transform 0.3s ease-in-out, opacity 0.5s ease;
}

.food:hover img {
  transform: scale(1.1); /* Phóng to ảnh */
  transition: transform 0.3s ease-in-out; /* Hiệu ứng chuyển đổi mượt mà */
}

/* Danh sách thông tin món ăn */
.food ul {
  list-style-type: none;
  padding: 5px;
  border-top: 1px solid black;
  display: flex;
  flex-direction: column; /* Sắp xếp các mục li theo cột */
  background-color: #fff;
  transition: background-color 0.3s ease;
}

/* Hiệu ứng khi hover vào food item: chuyển màu nền của ul */
.food:hover ul {
  background-color: #f8a853; /* Chuyển sang màu f8a853 khi hover */
}

.food:hover .add-to-cart {
  background-color: white;
  color: black;
}

/* Các dòng thông tin trong ul */
.food ul li {
  padding: 5px 5px 5px 50px;
  width: 100%; /* Đảm bảo mỗi li chiếm 100% chiều rộng ul */
  text-align: left; /* Căn chữ cái đầu tiên của mỗi mục li thẳng hàng */
}

.add-to-cart {
  background-color: #f8a853;
  border: 2px solid rgb(35, 35, 35);
  border-radius: 10px;
  width: 140px;
  height: 32px;
  cursor: pointer;
  color: white;
  transition: 0.3s ease-in-out;
}

.add-to-cart:active {
  transform: scale(0.95);
  box-shadow: 0 10px 20px rgba(255, 243, 19, 0.763);
}

@media (max-width: 800px) {
  .menu {
    justify-content: center;
    padding: 2px;
  }
}

.food input[type="number"] {
  width: 50px;
  text-align: center;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.food input[type="number"]:hover {
  border-color: #fbab00;
  background-color: #f8f8f8;
}

.food input[type="number"]:focus {
  outline: none;
  background-color: #f1f1f1;
  box-shadow: 0 0 8px rgba(251, 255, 2, 0.912);
}

.food input[type="number"]::-webkit-inner-spin-button,
.food input[type="number"]::-webkit-outer-spin-button {
  margin: 0;
  -webkit-appearance: none;
}

a {
  text-decoration: none;
  color: black;
}
