.navbar {
  padding: 5px;
  background-color: #f8a853;
  display: flex;
  align-items: center;
  width: 80%;
  position: absolute;
  top: 80px;
  left: 20%;
  width: 60%;
}
.navbar ul {
  list-style-type: none;
  display: flex; /* Hiển thị danh sách nằm ngang */
  flex-grow: 1; /* Chiếm hết không gian còn lại */
  justify-content: space-around; /* Cách đều các mục */
}

.navbar ul li {
  flex-grow: 1; /* Mỗi mục sẽ chiếm không gian đều */
  text-align: center;
}

.navbar ul li a {
  color: white; /* Màu chữ */
  text-decoration: none; /* Bỏ gạch chân */
  padding: 5px;
  display: block; /* Đảm bảo toàn bộ khối có thể nhấn được */
  border-radius: 4px;
  transition: 0.3s ease-in-out;
}

.navbar ul li a:hover {
  background-color: #ff9100; /* Màu nền khi hover */
  transform: scale(1.05);
  transition: 0.3s ease-in-out;
}

.navbar ul li a::before {
  background-color: #ff9100; /* Màu nền khi hover */
}

.sub {
  color: white;
  margin-top: 4px;
}
