.profile {
  margin: 50px auto;
  padding: 20px;
  align-items: center;
  width: 40%;
}

/* Kiểu cho tiêu đề */
h1 {
  text-align: center;
  margin-bottom: 20px;
}

/* Kiểu cho các trường thông tin */
.form-group {
  align-items: center;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

/* Nút bấm */
.form-group button {
  padding: 10px;
  background-color: white;
  color: black;
  border: 2px solid black;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  margin: 10px auto; /* Căn giữa button */
  display: block; /* Chuyển button thành block để margin auto có hiệu lực */
  transition: all 0.4s ease;
}

.form-group button:hover {
  background-color: #fbab00;
  color: white;
  transform: scale(1.05);
}

#profile-button.form-group {
  background-color: #fc9904; /* Đổi màu nền khi hover */
}
