.sidebar {
    width: 250px;
    height: calc(100vh - 70px); /* Chiều cao sidebar bằng chiều cao viewport trừ chiều cao header */
    background-color: #f8a853;
    color: #101010;
    padding-top: 70px; /* Khoảng cách giữa header và sidebar */
    box-sizing: border-box;
    position: fixed;
    overflow-y: auto; /* Cho phép cuộn lên xuống nếu nội dung quá dài */
}

/* Sidebar title */
.sidebar h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 600;
    color: #080808;
    background-color: #f44336;
    padding: 10px; 
    border-radius: 5px; 
}

/* Danh sách trong sidebar */
.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Các mục trong danh sách */
.sidebar ul li {
    margin-bottom: 15px;
}

/* Các liên kết trong danh sách */
.sidebar ul li a {
    text-decoration: none;
    color: #002795;
    font-size: 18px;
    display: block;
    padding: 15px;
    background-color: #FFD154; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    transition: background 0.3s ease, border 0.3s ease;
}

/* Hiệu ứng hover */
.sidebar ul li a:hover {
    background-color: #555;
    border-color: #aaa;
}